<div class="modal-body">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <strong>Name:</strong>
            <%= user.name %>
        </p>

        <p>
            <strong>Email:</strong>
            <%= user.email %>
        </p>

        <p>
            <strong>Address:</strong>
            <%= user.address %>
        </p>

        <p>
            <strong>Password:</strong>
            <%= user.password %>
        </p>
        </div>
    </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>  
</div>
